.root {
  -fx-background-color: linear-gradient(#210239, #091c99);
  -fx-font-size: 17px;
  -fx-color: #fff;
}

.label {
  -fx-text-fill: #b670fc;
  -fx-alignment: center ;
  -fx-padding: 20 ;
}

.button {
  -fx-text-fill: #6509ac;
  -fx-background-color: #1df466;
  -fx-indent: 40;
}

.choice-box .context-menu {
  -fx-background-color: #000;
}

.choice-box .menu-item > .label {
  -fx-text-fill: #f00;
}

.choice-box .menu-item:focused {
  -fx-background-color: orange;
}

.choice-box {
  -fx-background-color: black;
  -fx-mark-color: #00c620;
}
